export const ifttt = {
  key: 'IFTTT_KEY',
  events: {
    event_name: 'event_text'
  }
};

export const telegram = {
  token: 'TELEGRAM_BOT_KEY',
  botId: 'BOT_ID', //Used for direct http call to Telegram, is the same as the token but with the word 'bot' at the start.
  chatId: 'CHAT_ID',
  commands: [
    'command_one',
    'command_two'
  ],
  botan: {
    token: 'BOTAN.IO_KEY // Telegram Bots Analytics
  },
  users: [
    'user1',
    'user2',
    'user3'
  ]
};
